<h3>Welcome to the chatroom</h3>
<p>Post your question someone will respond as soon as possible</p>
<div id="app">
  <ul>
    <li v-for="message in messages">{{message}}</li>
  </ul>
  <div>
     <input v-model='newMessageBody'>
     <button @click='addMessage()'>Send Message</button>
  </div>
</div>