<h1 class="little_right">Change your password</h1>
<%= form_tag "/newpassword", method: :patch do %>
  <div class="little_right">
    Email: <input type="email" name="email">
  </div>
   <!-- <div class="little_right">
    Full Name: <input type="text" name="full_name">
  </div> -->
  <div class="little_right">
    Old password: <input type="password" name="oldpassword">
  </div>
  <div class="little_right">
    New password: <input type="password" name="newpassword">
  </div>
  <div class ="little_right"> 
  password confirmation: <input type="password" name = "passconfirm">
  </div>
  <input class="little_right" type="submit" value="submit change">
<% end %>