<h1>Change your password</h1>
<%= form_tag "/login", method: :post do %>
  <div class="right">
    Email: <input type="email" name="email">
  </div>
   <div class="right">
    Full Name: <input type="text" name="full_name">
  </div>
  <div class="right">
    Old password: <input type="password" name="password">
  </div>
  <div class="right">
    New password: <input type="password" name="newpassword">
  </div>
  <div class ="right"> 
  password confirmation: <input type="password" name = "passconfirm">
  </div>
  <input class="right" type="submit" value="submit change">
<% end %>