    <h1>Welcome to learningcenter.com, <%= @employee.full_name %></h1>
    <p>
      You have successfully signed up to learning.com, Once approved you name and schedule will appear on learningcenter.com
      your name is: <%= @employee.full_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>