<!-- <div id="survey">
    <h2 v-if=show>{{ question1 }}</h2>
    <input v-if=show type="number" v-model="answer13">
    <h2 v-if="!show">{{ question2 }}</h2>
    <input v-if="!show" type="number" v-model="answer10">
    <br>
<div class='button' id='next'><a href='#' @click="show = !show">Next</a></div>
<div class='button' id='prev'><a href='#' @click="show = show">Prev</a>
</div>
</div> -->
<div id="survey">
  <div v-for = "question in nextArr">
      <h2>{{ question.text }}</h2>
      <input v-model="question.answer">
  </div>
    <div id="prev-next">
      <a href='#' @click="next">Previous</a> 
      <a href='#' @click="next">Next</a> 
    </div>
</div>




<!-- </div>
 -->
 


