// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.middle {
  margin-left: 400px;
}
.little_right {
  margin-left: 30px;
}
.far_right {
  float: right;
}
.center {
    margin: 5px 0;
    width: calc(100% - 460px);
}
.middletext {
  vertical-align: middle;
}
