<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">My Learning Center </a>
            <li class="active"><a href="/surveys">Survey<span class="sr-only"></span></a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutors<span  class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <% Location.all.each do |location| %>
               <li><a href="/employees?campus=<%= location.name %>"><%= location.name %></a></li>
            <% end %>
            </ul>
            </li> 
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedules<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Subject.all.each do |s| %>
                <li><a href="/employees?department=<%= s.department %>"><%= s.department %></a></li>
              <% end %>
            </ul>
            </li> 
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make an appointment<span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a href="http://mercy.libcal.com/booking/writingcentermt">Manhattan</a></li>
              <li><a href="http://mercy.libcal.com/booking/writingcenterdf">Doobs Ferry writing center</a></li>
              <li><a href="http://mercy.libcal.com/booking/writingcenterbx">Bronx writing center</a></li>
              <li><a href="#">WhitePlains</a></li>
              <li><a href="http://mercy.libcal.com/booking/writingcenteryh">Yorktown writing center</a></li>
              <li><a href="http://mercy.libcal.com/booking/onlinetutors">Online Writing center</a></li>
              <li><a href="http://mercy.libcal.com/booking/mathscienceonline">Online Math and Science</a></li>
              <li><a href="http://mercy.libcal.com/booking/studyrooms">Vitale Center Study Rooms (Dobbs Ferry)</a></li>
              </ul>
           </li>
           <% if current_user %>
             <p class="navbar-brand navbar-right left" ><a  href="/logout">log out </a></p>
            <% else %>
           <li><a href="/employees/new">Create a tutor account</a></li>
             <p class="navbar-brand navbar-right" >Are you a tutor? <a  href="/login">sign in </a></p>
            <% end %>
            <% if current_student %>
             <p class="navbar-brand navbar-right left" ><a  href="/students/logout">Student log out </a></p>
            <% end %>
         </ul>
       </div><!-- /.container-fluid -->
   </div><!-- /.container-fluid -->
</nav>
